.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(163,163,163,1);
    margin: 0;
    padding: 0;
}

.job_link:hover {
    text-decoration: none;
}

.job_title {
    margin: 0;
    color: #8b8b8b;
    font-weight: bold;
}

.navbar-brand img{
    height: 50px;
}

.container-fluid {
    margin-top: 2%;
}

.annonce {
    background-color: whitesmoke;
}

.annonce h1 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3%;
}

.annonce p {
    text-align: justify;
}

.annonce p:nth-child(4){
    margin: 0;
}
.postuler {
    background-color: #1e7e34;
}

